@import 'open-props/sizes';
@import 'open-props/borders';
@import 'open-props/gradients';

.actor {
  display: flex;
  align-items: center;
  gap: var(--size-2);
  position: relative;
}

.avatar-wrapper {
  appearance: none;
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: var(--size-2);
  border: var(--border-size-1) solid var(--gray-9);
  border-radius: var(--radius-2);
  padding: var(--size-2);
  &:hover {
    background-color: var(--gray-8);
  }
}
