@import 'open-props/media';

.container {
  &:hover {
    & .entryData {
      text-decoration: underline;
    }
  }
}

.entryData {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.navigate {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 100%;
}

.icon {
  display: none;
  margin-left: auto;
}

@media (--md-n-above) {
  .container {
    &:hover {
      & .icon {
        display: inline-flex;
        cursor: pointer;
      }
    }
  }
  .navigate {
    display: grid;
    grid-template-columns: 1fr 30px;
  }
}
