.timeline {
  height: 100dvh; /* full viewport height */
  overflow-y: auto; /* vertical scroll */
  scroll-snap-type: y mandatory; /* y‑axis snapping, mandatory = always snap */
  scroll-behavior: smooth; /* nice easing when you click nav links */
}

.events-wrapper {
  min-block-size: 100dvh;
  position: relative;
}
