@import 'open-props/fonts';
@import 'open-props/media';

.hero {
  block-size: 100dvh;
  clip-path: polygon(100% 0, 100% 89%, 19% 100%, 0 100%, 0 0);
  overflow: hidden;
  position: relative;
  background-clip: content-box;
  scroll-snap-align: start;
  scroll-snap-stop: always;

  &::after {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    opacity: 0.4;
    background-image: url('./assets/senyera.jpg');
    background-repeat: no-repeat;
    background-position: 45% center;
    background-size: cover;
    z-index: -1;
  }
}

.intro {
  position: absolute;
  bottom: 12.5%;
  left: 12.5%;
  color: var(--gray-0);
  max-inline-size: 75%;
  display: flex;
  flex-direction: column;
}

.title {
  text-transform: uppercase;
  font-weight: var(--font-weight-8);
  font-size: var(--font-size-6);
}

.description {
  padding-inline-start: var(--size-3);
  border-inline-start: var(--border-size-1) solid var(--gray-1);
}

@media (--md-n-above) {
  .hero {
    clip-path: polygon(100% 0, 100% 83%, 29% 100%, 0 100%, 0 0);
  }

  .intro {
    max-inline-size: 32rem;
  }

  .title {
    font-size: var(--font-size-8);
  }
}

@media (--motionOK) and (--md-n-above) {
  .hero::after {
    animation: zoomIn 15s ease-in-out infinite alternate;
  }
}

@keyframes zoomIn {
  from {
    background-size: 120%;
  }
  to {
    background-size: 150%;
  }
}
