@import 'open-props/media';

.dialog {
  inline-size: 90%;
  block-size: 50dvh;
  position: relative;
  &::backdrop {
    background-image: var(--gradient-16);
    opacity: 0.75;
  }
}

.closeButton {
  display: none;
}

.data {
  overflow-y: auto;
}

.position {
  font-weight: var(--font-weight-6);
  font-size: var(--font-size-3);
}

.eventList {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: var(--size-3);
  list-style-type: none;
  margin-inline-start: var(--size-4);
  padding-inline-start: var(--size-4);
  margin-block-start: var(--size-4);
  border-inline-start: var(--border-size-1) solid var(--gray-5);
}

.eventListItem {
  display: block;
  max-width: 100%;
  position: relative;
  &::before {
    content: '';
    display: inline-block;
    width: var(--size-2);
    height: var(--size-2);
    background: var(--gray-5);
    border-radius: var(--radius-round);
    position: absolute;
    left: calc(-1 * var(--size-5));
    top: calc(50% - (var(--size-2) / 2));
  }
}

@media (--md-n-above) {
  .dialog {
    inline-size: 50%;
    block-size: 50dvh;
  }
  .closeButton {
    display: flex;
    position: absolute;
    top: var(--size-4);
    right: var(--size-4);
    background: none;
    border: none;
    color: var(--gray-9);
    font-size: var(--size-7);
    cursor: pointer;
    inline-size: fit-content;
    block-size: 1ex;
    justify-content: center;
    align-items: center;
  }
}
