@import 'open-props/sizes';
@import 'open-props/media';

.timer {
  inline-size: fit-content;
  position: sticky;
  inset-block-start: 2.5rem;
  inset-inline-end: 2.5rem;
  margin-inline-start: auto;
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: var(--size-1);
  overflow: hidden;
}

.date {
  font-size: var(--font-size-3);
  display: var(--font-weight-4);
  overflow: hidden;
}

.time {
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-8);
  display: block;
  overflow: hidden;
}

.char {
  display: inline-block;
}

.warning {
  color: var(--red-6);
}

@media (--md-n-above) {
  .timer {
    inset-block-start: calc(50% - 2rem);
    inset-inline-end: var(--size-8);
  }
}
