@import 'open-props/sizes';
@import 'open-props/borders';

.event {
  scroll-snap-align: start;
  scroll-snap-stop: always;

  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}
