@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&family=Protest+Strike&display=swap');
@import "tailwindcss";

@theme {
  --font-title: "Protest Strike", cursive;
  --font-body: 'Noto Sans Display', sans-serif;
}

body {
  background-color: #242424;
}

