@import 'open-props/sizes';
@import 'open-props/media';
@import 'open-props/masks/edges';

.card {
  /* --mask-edge-zig-zag-right */
  --card-padding: var(--size-4);

  color: var(--gray-0);
  /* padding: var(--size-4); */
  margin-inline: var(--size-4);
  display: flex;
  gap: var(--size-3);
  flex-direction: column;
  inline-size: 100%;
}

.card-title {
  background-color: transparent;
  color: var(--gray-0);
}

.actors-wrapper {
  display: flex;
  align-items: center;
  gap: var(--size-3);
  padding-inline: var(--card-padding);
  padding-block-start: var(--card-padding);
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--size-3);
  padding-inline: var(--card-padding);

  &.no-references {
    padding-block-end: var(--card-padding);
  }
}

.title {
  font-weight: var(--font-weight-6);
  font-size: var(--font-size-6);
  line-height: 1.1;
}

.hint {
  font-size: var(--font-size-2);
  padding: var(--size-2);
  display: flex;
  align-items: flex-start;
  gap: var(--size-2);
  /* border-inline-start: var(--border-size-1) solid currentColor; */
}

.hint-info {
  .hint-icon {
    color: var(--blue-9);
  }
}

.hint-warning {
  .hint-icon {
    color: var(--yellow-9);
  }
}

.hint-error {
  .hint-icon {
    color: var(--red-9);
  }
}

.hint-question {
  .hint-icon {
    color: var(--red-9);
  }
}

.hint-icon {
  inline-size: var(--size-6);
  block-size: var(--size-6);
  flex-shrink: 0;
}

.references {
  background: none;
  padding: 0;
}

.references-summary {
  background: none;
  border-block-start: 1px solid var(--gray-8);
  margin-block-end: 0;
  margin: 0;
  border-radius: 0;

  &:hover {
    background: var(--gray-8);
  }
}

.references-list {
  padding-block-end: var(--card-padding);
}

@media (--md-n-above) {
  .card {
    inline-size: var(--size-content-3);
  }
}
